*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    background:#000;

    color:white;

    overflow-x:hidden;
}




.background-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-3;

    filter:
    brightness(.65)
    saturate(1.15)
    contrast(1.08);
}


.background-overlay{

    position:fixed;
    inset:0;

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.70)
    );

    z-index:-2;

    backdrop-filter:blur(2px);

}






/* HERO */

.hero{

    min-height:55vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 20px;

}

.hero-overlay{

    text-align:center;
    max-width:900px;
    animation:fadeUp 1s ease;

}


.hero-overlay h1{

    font-size:clamp(3rem,7vw,5.2rem);
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;

}


.hero-overlay p{

    max-width:700px;
    margin:auto;
    line-height:1.7;
    opacity:.9;
    margin-bottom:35px;

}

.hero-logo{

    width:170px;
    margin-bottom:25px;
    filter:drop-shadow(0 0 18px rgba(255,255,255,.15));

}






.volver{

    padding:15px 38px;
    border-radius:60px;
    border:1px solid rgba(255,255,255,.4);
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(10px);
    transition:.35s;
}


.volver:hover{

    background:white;
    color:#111;
    transform:translateY(-3px);

}




/* ÁLBUMES */

.albums{

    width:90%;
    max-width:1300px;
    margin:30px auto 100px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
    position:relative;
    z-index:2;
}

/* TARJETA */

.album-card{

    position:relative;
    overflow:hidden;
    border-radius:18px;
    text-decoration:none;
    color:white;
    height:420px;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
    
    background:rgba(15,15,15,.35);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,.08);
        transition:
    transform .45s,
    box-shadow .45s;

}


.album-card:hover{

    transform:translateY(-10px);
    box-shadow:
    0 25px 60px rgba(0,0,0,.45);

}


.album-card img{

    width:100%;
    height:100%;

    object-fit:cover;

    transition:.5s;

}

.album-card:hover img{

    transform:scale(1.08);

}

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(transparent,rgba(0,0,0,.85));

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

    padding:30px;

}

.overlay h2{

    font-size:2rem;

    margin-bottom:10px;

}

.overlay p{

    margin-bottom:18px;

    opacity:.85;

}

.overlay span{

    color:#4CAF50;

    font-weight:600;

}








/* MÓVIL */

@media(max-width:768px){

.hero{

    height:35vh;

}

.hero h1{

    font-size:2.5rem;

}

.hero p{

    font-size:16px;

}

.album-card{

    height:320px;

}

.footer-logo{

    width:130px;

}

#contacto-galeria h2{

    font-size:2rem;

}

}








@keyframes fadeUp{

from{

    opacity:0;

    transform:translateY(40px);

}

to{

    opacity:1;

    transform:translateY(0);

}

}




/* =========================
   CONTACTO
========================= */

.contacto-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin:50px 0;
}

.contacto-card{
    background:#171717;
    padding:25px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,.05);
    transition:.3s;
}

.contacto-card:hover{
    transform:translateY(-6px);
    background:#1c1c1c;
}

#contacto{

    padding:90px 10%;
    text-align:center;

}

#contacto h2{

    font-size:2.2rem;
    margin-bottom:20px;

}

#contacto p{

    color:#cfcfcf;
    line-height:1.8;

}

.contact-info{

    margin-top:30px;
}




/* =========================
   FOOTER
========================= */
.footer{
    position:relative;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.92),
        rgba(0,0,0,.55),
        rgba(0,0,0,.10),
        transparent
    );

    backdrop-filter:blur(6px);
    -webkit-backdrop-filter:blur(6px);

    padding:80px 10% 30px;
    margin-top:80px;

    border-top:1px solid rgba(255,255,255,.06);
}

.background-video{
    transform:translateZ(0);
    will-change:transform;
}

.footer-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:40px;
    margin-bottom:40px;
}

.footer h3, .footer h4{
    margin-bottom:15px;
}

.footer a{
    display:block;
    color:#aaa;
    text-decoration:none;
    margin:6px 0;
}

.footer a:hover{
    color:white;
}

.footer-bottom{
    text-align:center;
    font-size:0.85rem;
    opacity:0.6;
}

.footer-brand{
    text-align:center;
    margin-bottom:40px;
}

.footer-brand img{
    width:160px;
    opacity:0.9;
    margin-bottom:10px;
}

.footer-brand p{
    font-size:0.9rem;
    letter-spacing:3px;
    text-transform:uppercase;
    opacity:0.6;
}

footer p{
    color:#888;
    margin:8px 0;
}


.footer-links{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:30px;
    margin:30px 0 20px;
}

.footer-links a{
    color:rgba(255,255,255,.75);
    text-decoration:none;
    font-size:.95rem;
    font-weight:400;
    letter-spacing:.5px;
    transition:all .3s ease;
    position:relative;
}

.footer-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:1px;
    background:white;
    transition:width .3s ease;
}

.footer-links a:hover{
    color:white;
}

.footer-links a:hover::after{
    width:100%;
}


.footer-logo{
    width:170px;
    display:block;
    margin:0 auto 20px;
}





/* =========================
   BOTONES
========================= */

.btn{
    display:inline-block;
    padding:12px 28px;

    background:linear-gradient(135deg,#07751e,#0a8a24);
    color:white;

    border-radius:30px;
    text-decoration:none;

    font-weight:500;
    letter-spacing:.4px;

    transition:all .25s ease;

    box-shadow:0 8px 20px rgba(0,0,0,.25);
       margin-top:35px;
}

.btn:hover{
    transform:translateY(-3px) scale(1.03);
    box-shadow:0 12px 30px rgba(0,0,0,.35);
}

.btn-consultar{
    padding:10px 20px;
    background:#1c1c1c;
    color:white;

    border:1px solid rgba(255,255,255,.1);
    border-radius:10px;

    cursor:pointer;

    transition:all .25s ease;

    font-weight:500;
    letter-spacing:.3px;
}

.btn-consultar:hover{
    transform:translateY(-2px);
    background:#2a2a2a;
    border-color:rgba(255,255,255,.2);
}









/* ==========================
   GALERÍA INTERIOR
========================== */

.gallery{

    width:90%;
    max-width:1500px;
    margin:70px auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:20px;

}

.gallery img{

    width:100%;

    display:block;

    border-radius:18px;

    cursor:pointer;

    transition:.4s;

    box-shadow:0 15px 35px rgba(0,0,0,.35);  
        aspect-ratio:4/5;
        object-fit:cover;

}



.gallery img:hover{

    transform:translateY(-8px) scale(1.02);
    box-shadow:0 25px 60px rgba(0,0,0,.45);

}



.intro-galeria{

    max-width:850px;

    margin:0 auto 60px;

    text-align:center;

}

.intro-galeria p{

    color:#d6d6d6;

    line-height:1.9;

    font-size:1.05rem;

}









/*==========================
LIGHTBOX PROFESIONAL
==========================*/

#lightbox{

    position:fixed;

    inset:0;

    display:none;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    background:rgba(0,0,0,.96);

    backdrop-filter:blur(8px);

    z-index:9999;

    animation:fade .25s;

}

#lightbox img{

    max-width:88%;

    max-height:78vh;

    border-radius:12px;

    box-shadow:0 30px 80px rgba(0,0,0,.65);

}

.close{

    position:absolute;

    top:25px;

    right:40px;

    font-size:48px;

    cursor:pointer;

    color:white;

    transition:.3s;

}

.close:hover{

    transform:scale(1.2);

}

.prev,
.next{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    font-size:55px;

    color:white;

    background:none;

    border:none;

    cursor:pointer;

    padding:25px;

    transition:.3s;

}

.prev:hover,
.next:hover{

    transform:translateY(-50%) scale(1.15);

}

.prev{

    left:25px;

}

.next{

    right:25px;

}

.contador{

    margin-top:20px;

    color:white;

    font-size:18px;

    letter-spacing:2px;

}

#miniaturas{

    width:90%;

    display:flex;

    justify-content:center;

    gap:10px;

    overflow-x:auto;

    padding:25px;

    margin-top:15px;

}

#miniaturas img{

    width:90px;
    height:65px;
    object-fit:cover;
    border-radius:8px;
    opacity:.55;
    cursor:pointer;
    transition:.3s;

}

#miniaturas img:hover{

    opacity:1;

}

#miniaturas img.active{

    opacity:1;
    border:2px solid white;

}




@keyframes fade{

from{

opacity:0;

}

to{

opacity:1;

}

}




